/* linkhint boxes */
div > .vimiumHintMarker {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#073642), color-stop(100%,#073642));
	/* border: 1px solid #E3BE23; */
	border: none;
}

/* linkhint text */
div > .vimiumHintMarker span {
	color: #93a1a1;
	font-weight: normal;
	font-size: 12px;
}

div > .vimiumHintMarker > .matchingCharacter {
}

/* ################# */

/* input text-input back*/
input#vomnibarInput.vimiumReset {
	background-color: #073642 !important;
	color: #93a1a1 !important;
}

#vomnibar {
	background-color: #002b36 !important;
	border-color: #002b36;
	box-shadow: none;
}

#vomnibar ::selection {
	background-color: #cb4b16;
	color: #eee8d5;
}

/* input frame */
#vomnibar .vomnibarSearchArea {
	background-color: #002b36;
	border-bottom: #3f3f3f;
}

/* input border */
#vomnibar input {
	background-color: #002b36;
	border-color: #002b36;
	box-shadow: none;
	color: #839496;
}

/* results background */
#vomnibar ul {
	background-color: #002b36;
}

#vomnibar li {
	border-bottom: #3f3f3f;
}

/* Second line URL */
#vomnibar li .vomnibarUrl {
	color: #268bd2;
}

/* Second line URL-Match */
#vomnibar li .vomnibarMatch {
	font-weight: normal;
	color: #b58900;
	/*color: #d33682;*/
}

/* Selected */
#vomnibar li.vomnibarSelected {
	background-color: #073642;
}

/* Title-Match */
#vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
	font-weight: normal;
	color: #b58900;
	/*color: #d33682;*/
}

/* Title */
#vomnibar li em, #vomnibar li .vomnibarTitle {
	color: #839496;
}

#vomnibar li .vomnibarSource {
	color: #586e75;
}
